.App {
  text-align: center;
}

.App-logo {
  height: 4vmin;
  pointer-events: none;
}

.logo{
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.search-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.search-input{
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 2px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1da1f2;
  min-height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 1vmin);
  padding-left: 40px;
  padding-right: 40px;
  color: white;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

.container{
  display: flex;
  flex: 1;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}

.icon-container{
  font-size: 26px;
  margin-right: 15px;
}

.label-container{
  font-size: 26px;
  font-weight: bold;
}

.side-menu-container{
  display: flex;
  flex-direction: column;
  min-width: 220px;
  border-right: 1px solid rgb(182, 182, 182);
  height: calc(100vh - 70px);
  padding: 20px;
}

.side-menu-item{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 5px;
}

.content-container{
  display: flex;
  flex-direction: column;
  padding: 15px;
  padding-left: 0px;
}

.post-container{
  padding: 15px;
  min-width: 550px;
  border-bottom: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
  border-left: 1px solid gainsboro;
  display: flex;
  flex-direction: row;
}

.logo-container{
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.post-content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  padding-left: 20px;
}

.post-title{
  margin-top: 0;
  margin-bottom: 10;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.post-description{
  margin: 0;
  text-align: start;
}

.time-part{
  font-weight: bold;
  font-size: 12px;
  color: gray;
}

.post-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 15px;
}

.post-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.count-label{
  color: grey;
  margin-left: 20px;
  margin-top: -3px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
